<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/"><b>T - SMAR</b></a>
		</div>
		
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown"><span class="badge">{{account.nUnactivedNoti}}</span></a>
					<ul class="dropdown-menu" style="background-color: #819FF7;">
						<li style="cursor: pointer;" ng-repeat="noti in account.notifications" ng-click="updateNotiStatus($index, noti.id)">
							<a style="text-align: left; cursor: pointer;">{{noti.content}}</a>
						</li>
					</ul>
				</li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown">{{account.userName}}<b class="caret"></b></a>
					<ul class="dropdown-menu" style="background-color: #819FF7;">
						<li><a href="#" style="text-align: left;">Account settings</a></li>
						<li class="divider"></li>
						<li ng-click="logout()"><a href="#" style="text-align: left;">Logout</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/board">Back to board</a></li>
			</ul>

			<!-- <form class="navbar-form narvar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" />
				</div>
			</form> -->
		</div>
	</div>
</div>

<div class="container" style="margin-top: 70px;">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title" id="loginFormModalTitle">Analytics</h2>
		</div>
		
		<ul class="nav nav-tabs" id="tabTask">
			<li class="active">
				<a href="#cflow" data-toggle="tab">Cumulative Flow</a>
			</li>
			<li>
				<a href="#tdistribution" data-toggle="tab">Task Distribution</a>
			</li>
			<li>
				<a href="#cfinished" data-toggle="tab">Created vs Finished</a>
			</li>
		</ul>
		
		<!-- Body Content -->
		<div class="modal-body">
			<div class="tab-content">
				<!-- start chart -->
				<div class="tab-pane active" id="cflow">
					<div id="example" class="k-content">
						<div class="chart-wrapper">
							<div kendo-chart k-options="chartFlow" id="chartflow"></div>							
						</div>
					</div>
				</div>
				
				<!--start chart-->
				<div class="tab-pane" id="tdistribution">
					<div id="example" class="k-content">
						<div class="chart-wrapper">
							<div kendo-chart k-options="chartDistribution" id="chartdistribution"></div>
						</div>
					</div> 
				</div>
				
				<!--start chart-->
				<div class="tab-pane" id="cfinished">
					<div id="example" class="k-content">
						<div class="chart-wrapper">
							<div kendo-chart k-options="chartFinished" id="chartFinished"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>