<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/"><b>T - SMAR</b></a>
		</div>
		
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown"><span class="badge">{{account.nUnactivedNoti}}</span></a>
					<ul class="dropdown-menu" style="background-color: #819FF7;">
						<li style="text-align: left; width: 100%;" style="cursor: pointer;" ng-repeat="noti in account.notifications" ng-click="updateNotiStatus($index, noti.id)">
							<a style="text-align: left; cursor: pointer;">{{noti.content}}</a>
						</li>
					</ul>
				</li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown">{{account.userName}}<b class="caret"></b></a>
					<ul class="dropdown-menu" style="background-color: #819FF7;">
						<li style="text-align: left; width: 100%;"><a style="text-align: left; cursor: pointer;">Account settings</a></li>
						<li style="text-align: left; width: 100%;" class="divider"></li>
						<li style="text-align: left; width: 100%;" ng-click="logout()"><a style="text-align: left; cursor: pointer;">Logout</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/myprojects">Back</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown">Project Settings<b class="caret"></b></a>
					<ul class="dropdown-menu" style="background-color: #819FF7;">
						<li style="cursor: pointer; text-align: left; width: 100%;" data-toggle="modal" data-target="#assign-members-modal"
						ng-click="getRule({account_id: account.id, project_id: project.id})"><a style="text-align: left;">General</a></li>
						
						<li style="text-align: left; width: 100%;"><a href="#/analytic" style="text-align: left;">Analytics</a></li>
					</ul>
				</li>
			</ul>

			<!-- <form class="navbar-form narvar-left" role="search">
				<div class="form-group">
					<input type="text" ng-model="test" class="form-control" placeholder="Search" />
				</div>
			</form> -->
		</div>
	</div>
</div>

<div class="fluid-container">
	<slidebox content-width="5000px" class="my-slidebox" content-class="my-slidebox-content">
		<div ng-repeat="(i1, taskType) in project.taskTypes">
			<div class="panel panel-success panel-container">
				<div class="panel-heading" ng-mouseover="mouseover[i1] = true" ng-mouseleave="mouseover[i1] = false">
					<span class="heading-text">{{taskType.name}}</span>
					
					<span ng-show="mouseover[i1] == true"
					class="sub-heading-text" data-toggle="modal" data-target="#add-column-modal" 
					title="Add Column" ng-click="getCommentData(i1, null, 'addColumn', taskType.id)">+</span>
				</div>
				
				<div class="panel-body panel-container-body">
					<div ng-repeat="(i2, columnType) in taskType.columnTypes" class="tasks-container-style"
					ng-class="{'container-margin': i2 < taskType.columnTypes.length - 1}">
					 	<div class="column-name">
					 		<span class="pointer-cursor" editable-text="columnType.name" 
							onbeforesave="updateColumnName(columnType.id, $data)">
								{{columnType.name || 'No name'}} <span style="font-size: 13px;">({{columnType.tasks.length}})</span>
							</span>
							
					 		<!-- <span ng-click="deleteColumn(columnType.id)" 
					 		ng-init="getCommentData(i1, i2, i3, task.id)"
					 		class="pull-right glyphicon glyphicon-remove delete-icon"
					 		ng-confirm-click="Do you want to delete this column?"></span> -->
					 		<span class="pull-right glyphicon glyphicon-remove delete-icon"
					 		ng-init="getCommentData(i1, i2, i3, task.id)" style="font-size: 10px;" title="Delete column"
					 		ng-click="setConfirm('Do you want to delete this column?', 'column', columnType.id, 'none', 'none')"
					 		data-toggle="modal" data-target="#confirm-modal"></span>
					 	</div>
					 	
						<div ui-sortable="sortableOptions" class="tasks-container" ng-model="columnType.tasks"
						ng-class="{'tasks-scroll': columnType.tasks.length > 10}"
						id="{{columnType.id}}" task-type-index="{{i1}}" column-index="{{i2}}">
							<div class="task" ng-repeat="(i3, task) in columnType.tasks"
							ng-mousedown="data.activeTaskId = task.id" 
							ng-class="{'task-width': columnType.tasks.length > 10}">
								<div class="row">
									<span class="pull-left col-lg-10 focus-name" data-toggle="modal"
									data-target="#edit-task-modal"
									ng-click="getTaskMembers({task_id: task.id}, task)">
										<span class="task-label {{colors[task.colorId].style}}">&nbsp;</span>{{task.name}}
									</span> 
									
									<span style="cursor: pointer;" title="Comment"
									ng-class="{'glyphicon-collapse-up': task.showComment, 'glyphicon-collapse-down': !task.showComment}"
									ng-click="task.showComment = !task.showComment" class="glyphicon col-lg-2 pull-right"> </span>
								</div>
								
								<div ng-show="task.showComment">
									<div class="comment-box">
										<div class="comment-item" ng-repeat="comment in task.comments">
											<span style="font-weight: bold;">{{comment.username}} </span>{{comment.content}}
										</div>
									</div>
			
									<form class="form-horizontal" ng-submit="addComment(1, data.taskId, task.comment)">
										<div class="form-group" ng-init="task.comment.username = account.userName">
											<input type="text" class="form-control input-comment" 
											style="height: 30px; font-size: 13px;"
											placeholder="comment..." ng-model="task.comment.content"
											ng-click="getCommentData(i1, i2, i3, task.id)" />
										</div>
			
										<button type="submit" class="btn btn-info" style="font-size: 13px; display: none;"></button>
									</form>
								</div>
							</div>
						</div>
						
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-task-modal" 
						style="width: 100%; margin-top: 10px;" ng-click="getCommentData(i1, i2, 'addTask', columnType.id)">Add Task</button>
					</div>
				</div>
			</div>
		</div>
	</slidebox>
</div>

<!-- Start Task Form Modal -->
<div class="modal fade" id="add-task-modal" tabindex="-1" role="dialog"
aria-labelledby="ideaModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
					
				<h4 class="modal-title" id="loginFormModalTitle">Add task</h4>
			</div>
			
			<ul class="nav nav-tabs" id="tabTask">
				<li class="active"><a href="#general" data-toggle="tab"><b>General</b></a></li>
				<li><a href="#attachment" data-toggle="tab"><b>Attachments</b></a></li>
				<!-- <li><a href="#comment" data-toggle="tab">Comments</a></li> -->
			</ul>
			
			<!-- Body Content -->
			<div class="modal-body">
				<div class="tab-content">
					<div class="tab-pane active" id="general">
						<form role="form">
							<div class="form-group">
								<label>Name</label> 
								<input type="text" class="form-control"
								name="inpTaskName" ng-model="data.task.name" />
							</div>
							
							<div class="form-group">
								<label>Description</label>
								<textarea class="form-control" ng-model="data.task.description" row="3"> </textarea>
							</div>
							
							<div class="form-group">
								<label>Label</label>
								 <!-- {{selectedColor.style}} -->
								<select class="form-control" ng-model="selectedColor"
								ng-options="color.name for color in colors">
								</select>
							</div>
							
							<div class="from-group">
								<label>Due Date</label> 
								<input datepicker-popup type="text" class="form-control" ng-model="data.task.dueDate" />
							</div>
						</form>
					</div>
					
					<!-- form upload file -->
					<div class="tab-pane  form-inline" id="attachment">
						<span class="btn btn-success fileinput-button"> <i
						class="glyphicon glyphicon-plus"> </i> <input type="file"
						name="files[]" multiple> <span>Add files...</span></span>
						 
						<!-- <span class="btn btn-primary start"> <i
						class="glyphicon glyphicon-upload"> </i>
						<span>Start Upload</span></span>
						 
						<span class="btn btn-warning cancel "> <i
						class="glyphicon glyphicon-ban-circle"> 
						</i> <span>Cancel Upload</span></span> -->
					</div>
					
					<div class="modal-footer">
						<button type="submit" class="btn btn-default"
						ng-click="addTask(data.columnTypeId, data.task)" data-dismiss="modal">Create</button>
						
						<button class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Task Form Modal -->

<!-- Start Edit Task Form Modal -->
<div class="modal fade" id="edit-task-modal" tabindex="-1" role="dialog"
aria-labelledby="ideaModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
					
				<h4 class="pointer-cursor" editable-text="data.selectedTask.name" 
				class="modal-title" id="loginFormModalTitle" onbeforesave="updateTaskName($data, data.selectedTask.id)">
					{{data.selectedTask.name || 'empty'}}
				</h4>
			</div>
			
			<ul class="nav nav-tabs" id="tabTask">
				<li class="active"><a href="#general-edit" data-toggle="tab"><b>General</b></a></li>
				<li><a href="#attachment-edit" data-toggle="tab"><b>Attachments</b></a></li>
				<li><a href="#assign-edit" data-toggle="tab"><b>Members</b></a></li>
			</ul>
			
			<!-- Body Content -->
			<div class="modal-body">
				<div class="tab-content">
					<div class="tab-pane active" id="general-edit">
						<div class="form-group">
							<label>Desciption</label>
							<div class="pointer-cursor edit-task-component" editable-textarea="data.selectedTask.description" 
							e-rows="2" e-cols="45" onbeforesave="updateTaskDescription($data, data.selectedTask.id)">
								{{data.selectedTask.description || 'No description'}}
							</div>
						</div>
						
						<!-- <label>Label</label>
								<select class="form-control {{selectedColor.style}}" ng-model="selectedColor"
								ng-options="color.name for color in colors">
								</select> -->
						
						<div class="form-group">
							<label>Color</label>
							<div class="pointer-cursor edit-task-component"
							editable-select="data.selectedTask.colorId"
							e-ng-options="color.id as color.name for color in colors" e-cols="45"
							onbeforesave="updateTaskColor($data, data.selectedTask.id)">
								{{colors[data.selectedTask.colorId].name || 'None'}}
							</div>
						</div>
						
						<div class="form-group">
							<label>Due date</label>
							<div class="pointer-cursor edit-task-component" 
							editable-bsdate="data.selectedTask.duedate"
							e-datepicker-popup="yyyy-MM-dd"
							onbeforesave="updateTaskDueDate($data, data.selectedTask.id)">
								{{data.selectedTask.dueDate | date:"dd/MM/yyyy" || '1/1/2014'}}
							</div>
						</div>
						
						<hr />
						
						<!-- Comment -->
						<div class="overload">
							<div ng-repeat="comment in data.selectedTask.comments" class="task-comment">
								<span class="comment-member">{{comment.username}}</span>
								<span class="comment-content">{{comment.content}}</span>
							</div>
						</div>

						<form role="form" ng-submit="addComment(2, data.selectedTask.id, {content: commentContent, username: account.userName})">
							<input type="text" class="form-control" placeholder="Comment..."
							style="font-size: 12px" ng-model="commentContent">
						</form>
					</div>
					
					<!--  form upload file -->
					<div class="tab-pane form-inline" id="attachment-edit">
						<span class="btn btn-success fileinput-button"> <i
						class="glyphicon glyphicon-plus"> </i> <input type="file"
						name="files[]" multiple> <span>Add files...</span></span>
						 
						<!-- <span class="btn btn-primary start"> <i
						class="glyphicon glyphicon-upload"> </i>
						<span>Start Upload</span></span>
						 
						<span class="btn btn-warning cancel "> <i
						class="glyphicon glyphicon-ban-circle"> 
						</i><span>Cancel Upload</span></span> -->
					</div>
					
					<!-- Assign -->
					<div class="tab-pane" id="assign-edit">
						<div class="joined-member-container" style="width: 100%; margin-bottom: 20px;">
							<span style="margin-right: 5px;" class="label label-info" ng-repeat="member in taskMembers">
								{{member.userName}}
								
								<!-- <span class="glyphicon glyphicon-remove pointer-cursor" 
								ng-click="removeFromTask({account_id: member.id, task_id: data.selectedTask.id}, $index)"></span> -->
								<span class="glyphicon glyphicon-remove pointer-cursor" title="Remove member"
								ng-click="setConfirm('Do you want to remove this member from the task?', 'memberTask', member.id, $index, data.selectedTask.id)"
								data-toggle="modal" data-target="#confirm-modal"></span>
							</span>
						</div>
						
						<form role="form">
							<div class="form-group">
								<input name="accFilter" type="text" class="form-control" 
								placeholder="Search members..." ng-model="searchText" />
								
								<div class="member-list-container" ng-init="searchText = ''" ng-show="searchText != ''">
									<div class="member-list-item" ng-repeat="member in members | filter:searchText"
									ng-click="assignToTask({account_id: member.id, task_id: data.selectedTask.id})">
										<span>{{member.userName}} ({{member.email}})</span>
									</div>
								</div>
							</div>
						</form>
					</div>
					
					<div class="modal-footer">
					 	<button type="button" class="btn btn-default"
					 	ng-click="setConfirm('Do you want to delete this task?', 'deleteTask', data.selectedTask.id, 'none', 'none')"
					 	data-toggle="modal" data-target="#confirm-modal" data-dismiss="modal">Delete</button>
						<button type="submit" class="btn btn-default" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Edit Task Form Modal -->

<!-- Add column form -->
<div class="modal fade" id="add-column-modal" tabindex="-1" role="dialog"
aria-labelledby="columnModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>

				<h4 class="modal-title">Add column</h4>
			</div>
			
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Column name" ng-model="data.columnType.name">
					</div>
				</form>
			</div>
			
			<div class="modal-footer">
				<button class="btn btn-default col-lg-5"  style="margin-left: 18px;"
				data-dismiss="modal">Cancel</button>
				
				<button type="submit" class="btn btn-default col-lg-5"  style="margin-left: 10px;"
				ng-click="addColumn(data.taskTypeId, data.columnType)"
				data-dismiss="modal">Create</button>
			</div>
		</div>
	</div>
</div>
<!-- End add column form -->

<!-- Assign member modal -->
<div class="modal fade" id="assign-members-modal" tabindex="-1" role="dialog"
aria-labelledby="columnModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>

				<h4 class="modal-title">General</h4>
			</div>
			
			<div style="margin-left: 30px; margin-top: 10px;">Members</div>
			<div class="joined-member-container">
				<span style="margin-right: 5px;" class="label label-info" ng-repeat="member in members">					
					{{member.userName}}
					
					<!-- <span ng-show="rule == 1 && member.id != account.id" class="glyphicon glyphicon-remove pointer-cursor" 
					ng-click="removeMemberFromProject(member.id, $index)"></span> -->
					<span ng-show="rule == 1 && member.id != account.id" class="glyphicon glyphicon-remove pointer-cursor" 
					ng-click="setConfirm('Do you want to remove this member from the project?', 'memberProject', member.id, $index, 'none')"
					data-toggle="modal" data-target="#confirm-modal" title="Remove member"></span>
				</span>
			</div>
			
			<div class="modal-body">
				<form role="form" ng-show="rule == 1">
					<div class="form-group">
						<input name="accFilter" type="text" class="form-control" 
						placeholder="Search members..." ng-model="searchText" />
						
						<div class="member-list-container" ng-init="searchText = ''" ng-show="searchText != ''">
							<div class="member-list-item" ng-repeat="account in accounts | filter:searchText"
							ng-click="assignToProject({id: account.id})">
								<span ng-hide="checkMember(account)" >
									{{account.userName}} ({{account.email}})
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
			
			<div class="modal-footer">	
				<button class="btn btn-default" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
<!-- End assign member modal -->

<!-- Confirm modal -->
<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog"
	aria-labelledby="columnModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<h4 class="modal-title" style="margin-bottom: 10px;">{{confirmData.message}}</h4>
				
				<div class="row">
					<button type="button" class="btn btn-default col-lg-5" style="margin-left: 18px;"
					 data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-default col-lg-5"  style="margin-left: 10px;"
					 data-dismiss="modal" ng-click="confirmFunc(confirmData)">OK</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Confirm modal -->