<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#/"><b>T - SMAR</b></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a style="cursor: pointer;" data-toggle="modal" data-target="#login-modal">Sign in</a></li>
      </ul>
    </div>
    <!--/.nav-collapse --> 
  </div>
</div>

<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1>Register</h1>
        <form class="form-horizontal" ng-submit="createAccount()" name ="userRegister" novalidate>
          <div class="form-group" ng-class="{'has-error':userRegister.username.$invalid &&!userRegister.username.$pristine}" >
            <input type="text" class="form-control" placeholder="Username" ng-model="account.userName" id="username" name="username" required/>
			<p ng-show="userRegister.username.$invalid && !userRegister.username.$pristine" class="help-block"> Your username is required </p>
			<p ng-hide="nErr != false" class="help-block">Username is exist</p>
          </div>
          
          <div class="form-group" ng-class="{'has-error': userRegister.password.$invalid && !userRegister.passrord.$pristine}">
            <input type="password" class="form-control" placeholder="Password" ng-model="account.password" name="password" ng-minlength="5" ng-maxlength="10" />
			<p ng-show="userRegister.password.$error.minlength" class ="help-block"> Password is from 5-10 character </p>
			<p ng-show="userRegister.password.$error.maxlength" class ="help-block"> Password is from 5-10 character </p>
          </div>
          
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Re-enter your password" ng-model="account.repassword" name="repassword" />
          </div>
          
          <div class="form-group" ng-class="{'has-error':userRegister.firstname.$invalid &&!userRegister.firstname.$pristine}" >
            <input type="text" class="form-control" placeholder="First name" ng-model="account.firstName" id="firstname" name="firstname" required/>
			<p ng-show="userRegister.firstname.$invalid && !userRegister.firstname.$pristine" class="help-block"> Your first name name is required </p>
          </div>
          
          <div class="form-group" ng-class="{'has-error':userRegister.lastname.$invalid &&!userRegister.lastname.$pristine}" >
            <input type="text" class="form-control" placeholder="Last name" ng-model="account.lastName" id="lastname" name="lastname" required/>
			<p ng-show="userRegister.lastname.$invalid && !userRegister.lastname.$pristine" class="help-block"> Your last name name is required </p>
          </div>
          
          <div class="form-group" ng-class="{'has-error': userRegister.email.$invalid && !userRegister.email.$pristine}">
            <input type="email" class="form-control" placeholder="Email" ng-model="account.email" name="email" required/>
			<p ng-show="userRegister.email.$invalid && !userRegister.email.$pristine" class="help-block"> Enter a valid email </p>
			<p ng-show="userRegister.email.$invalid && !userRegister.email.$pristine" class="help-block"> Your email is required </p>
          </div>
          
          <button type="submit" class="btn btn-warning btn-lg form-control" ng-disabled="userRegister.$invalid">Sign up</button>
        </form>
      </div>
      <!-- /col-lg-6 -->
      <div class="col-lg-6 col-lg-offset-3"> <img class="img-responsive"
					src="resources/images/home/ipad-hand.png" alt=""> </div>
      <!-- /col-lg-6 --> 
      
    </div>
    <!-- /row --> 
  </div>
  <!-- /container --> 
</div>
<!-- /headerwrap -->

<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Welcome to T-Smar</h1>
      <h3>An Easy Way To Manage Your Projects</h3>
    </div>
  </div>
  <!-- /row -->
  
  <div class="row mt centered">
    <div class="col-lg-4"> <img src="resources/images/home/ser01.png" width="180" alt="">
      <h4>Browser Compatibility</h4>
      <!-- <p>...</p> -->
    </div>
    <!--/col-lg-4 -->
    
    <div class="col-lg-4"> <img src="resources/images/home/ser02.png" width="180" alt="">
      <h4>Report</h4>
      <!-- <p>...</p> -->
    </div>
    <!--/col-lg-4 -->
    
    <div class="col-lg-4"> <img src="resources/images/home/ser03.png" width="180" alt="">
      <h4>Manager</h4>
      <!-- <p>...</p> -->
    </div>
    <!--/col-lg-4 --> 
  </div>
  <!-- /row --> 
</div>
<!-- /container -->

<div class="container">
  <hr>
  <!-- <div class="row centered">
    <div class="col-lg-6 col-lg-offset-3">
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1"
						placeholder="Enter your email address">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Invite
        Me!</button>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
  /row
  <hr> -->
</div>
<!-- /container -->

<!-- <div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Easy to use</h1>
      <h3>...</h3>
    </div>
  </div>
  /row 
  
  CAROUSEL
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <div id="carousel-example-generic" class="carousel slide"
				data-ride="carousel"> 
        Indicators
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0"
						class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        
        Wrapper for slides
        <div class="carousel-inner">
          <div class="item active"> <img src="resources/images/home/p01.png" alt=""> </div>
          <div class="item"> <img src="resources/images/home/p02.png" alt=""> </div>
          <div class="item"> <img src="resources/images/home/p03.png" alt=""> </div>
        </div>
      </div>
    </div>
    /col-lg-8 
  </div>
  /row 
</div> -->
<!-- /container -->

<!-- <div class="container">
  <hr>
  <div class="row centered">
    <div class="col-lg-6 col-lg-offset-3">
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1"
						placeholder="Enter your email address">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Invite
        Me!</button>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
  /row
  <hr>
</div> -->
<!-- /container -->

<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1> Our Team</h1>
      
    </div>
  </div>
  <!-- /row -->
  
  <div class="row mt centered">
    <div class="col-lg-3 col-sm-offset-3"> <img class="img-circle" src="resources/images/home/tuyen.jpg"
				width="140" alt="">
      <h4>Nguyen Ngo Tuyen</h4>
      <p>Developer</p>
      <p> <i class="glyphicon glyphicon-send"></i> <i
					class="glyphicon glyphicon-phone"></i> <i
					class="glyphicon glyphicon-globe"></i> </p>
    </div>
    <!--/col-lg-4 -->
    
    <div class="col-lg-3"> <img class="img-circle" src="resources/images/home/chanh.jpg"
				width="140" alt="">
      <h4>Nguyen Cong Chanh</h4>
      <p>Developer</p>
      <p> <i class="glyphicon glyphicon-send"></i> <i
					class="glyphicon glyphicon-phone"></i> <i
					class="glyphicon glyphicon-globe"></i> </p>
    </div>
    <!--/col-lg-4 --> 
  </div>
  <!-- /row --> 
</div>
<!-- /container -->

<div class="container">
  <hr>
  <div class="row centered">
    <div class="col-lg-6 col-lg-offset-3">
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1"
						placeholder="Enter your email address">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Invite
        Me!</button>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <!-- /row -->
  <hr>
  <p class="centered">Copyright by T-SMAR 2014</p>
</div>
<!-- /container -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog"
	aria-labelledby="columnModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Login</h4>
			</div>
			
			<div class="modal-body">
				<form name = "userForm" class="center" role="form" novalidate>
					<fieldset class="registration-form">
						<div class="form-group" ng-class="{'has-error':userForm.username1.$invalid &&!userForm.username1.$pristine}">
							<input type="text" id="username1" name="username1"
								ng-model="account.userName1" placeholder="Username"
								class="form-control" required>
								<p ng-show="userForm.username1.$invalid && !userForm.username1.$pristine" class="help-block"> Your name is requried </p>
						</div>
	
						<div class="form-group" ng-class="{'has-error':userForm.password_confirm1.$invalid &&!userForm.password_confirm1.$pristine}">
							<input type="password" id="password_confirm1"
							name="password_confirm1" ng-model="account.password1"
							placeholder="Password" class="form-control" required>
							
							<p ng-show="userForm.password_confirm1.$invalid && !userForm.password_confirm1.$pristine" 
							class="help-block"> Your password is requried </p>
						</div>
	
						<div class="form-group">
							<button type="button" class="btn btn-success btn-lg form-control" data-dismiss="modal"
							ng-click="login()" ng-disabled="userForm.$invalid">Login</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>