
<div class="row container-margin-top">
	<div class="col-sm-12 col-sm-offset-4">
		<div class="col-sm-3">
			<form name = "userForm" class="center" role="form" ng-submit="login()" novalidate>
				<fieldset class="registration-form">
					<div class="form-group" ng-class="{'has-error':userForm.username.$invalid &&!userForm.username.$pristine}">
						<input type="text" id="username" name="username"
							ng-model="account.userName" placeholder="Username"
							class="form-control" required>
							<p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block"> Your name is requried </p>
					</div>

					<div class="form-group" ng-class="{'has-error':userForm.password_confirm.$invalid &&!userForm.password_confirm.$pristine}">
						<input type="password" id="password_confirm"
						name="password_confirm" ng-model="account.password"
						placeholder="Password" class="form-control" required>
						
						<p ng-show="userForm.password_confirm.$invalid && !userForm.password_confirm.$pristine" 
						class="help-block"> Your password is requried </p>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success btn-lg form-control"
						ng-disabled="userForm.$invalid">Login</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<!--/#registration-->