<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			
			<a class="navbar-brand" href="#/"><b>T - SMAR</b></a>
		</div>
		
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
	    		<li class="dropdown">
	    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{data.userName}}<b class="caret"></b></a>
	    			
	    			<ul class="dropdown-menu" style="background-color: #819FF7;">
	    				<li><a style="text-align: left; cursor: pointer;">Account settings</a></li>
	    				<li class="divider"></li>
	    				<li ng-click="logout()"><a style="text-align: left; cursor: pointer;">Logout</a></li>
	    			</ul>
	    		</li>
	    	</ul>
			
			<button type="button" class="btn btn-primary navbar-btn navbar-right" 
			data-target="#create-project-modal" data-toggle="modal">+</button>
			
			<!-- <form class="navbar-form narvar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" />
				</div>
			</form> -->
		</div>
		<!--/.nav-collapse -->
	</div>
</div>

<div class="container container-margin-top">
	<div class="row">
		<div ng-show="projects.length == 0" style="font-weight: bold;">No project</div>
		<div class="flip col-lg-3" ng-repeat="project in projects">
			<div class="project-container">
				<span class="project-name pointer-cursor" ng-click="setProjectId(project.id)">
					{{project.name}}
				</span>
				
				<div class="project-info">
					<div>Idea: {{count[$index][0]}}</div>
					<div>Todo: {{count[$index][1]}}</div>
					<div>In progress: {{count[$index][2]}}</div>
					<div>Done: {{count[$index][3]}}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Create project modal -->
<div class="modal fade" id="create-project-modal" tabindex="-1" role="dialog"
aria-labelledby="ideaModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="loginFormModalTitle">Create project</h4>
			</div>
			
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<input type="text" placeholder="Enter project name" ng-model="data.projectName" class="form-control" />
					</div>
					
					<!-- <div class="form-group">
						<button type="submit" class="btn btn-primary form-control" data-dismiss="modal" ng-click="createProject()">Create</button>
					</div> -->
				</form>
			</div>
			
			<div class="modal-footer">
				<button class="btn btn-default col-lg-5" style="margin-left: 18px;"
				data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-default col-lg-5" style="margin-left: 10px;"
				data-dismiss="modal" ng-click="createProject()">Create</button>
			</div>
		</div>
	</div>
</div>